html { margin:0;padding:0; -webkit-font-smoothing: initial; font-size: 14px;}
body {
    -webkit-text-size-adjust: 100%;
    font-size: 16px;  
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #3a3a39;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}
body:after{
    position:absolute; width:0; height: 0; overflow: hidden; z-index:-1;
    content: url(../img/radio.png) url(../img/radio_checked.png) url(../img/check.png) url(../img/check_checked.png) url(../img/check_disabled.png) url(../img/check_hover.png);
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    box-sizing: border-box;
}
.wrapper:before, .wrapper:after {  content: " ";  display: table;}
.wrapper:after { clear: both;}
.clear:before, .clear:after {  content: " ";  display: table;}
.clear:after { clear: both;}
.clearboth { clear: both;}

.row:before, .row:after {  content: " ";  display: table;}
.row:after { clear: both;}
.row {  margin-left: -10px;  margin-right: -10px; }

[class*='col-'] {  
    float: left;  
    padding: 0 10px;
    box-sizing: border-box;
}

.col-12 { width: 100%;  }
.col-11 { width: 91.66666667%; }
.col-10 { width: 83.33333333%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66666667%; }
.col-7 { width: 58.33333333%; }
.col-6 { width: 50%; }
.col-5 { width: 41.66666667%; }
.col-4 { width: 33.33333333%; }
.col-3 { width: 25%; }
.col-by5 { width: 20%; }
.col-2 { width: 16.66666667%; }
.col-1 { width: 8.33333333%; }

.off-11 { margin-left: 91.66666667%; }
.off-10 { margin-left: 83.33333333%; }
.off-9 { margin-left: 75%; }
.off-8 { margin-left: 66.66666667%; }
.off-7 { margin-left: 58.33333333%; }
.off-6 { margin-left: 50%; }
.off-5 { margin-left: 41.66666667%; }
.off-4 { margin-left: 33.33333333%; }
.off-3 { margin-left: 25%; }
.off-by5 { margin-left: 20%; }
.off-2 { margin-left: 16.66666667%; }
.off-1 { margin-left: 8.33333333%; }


:focus { outline: none !important;}
a { color: #000;}
a, button { cursor: pointer; text-decoration: none;}
.img_wrap { position: relative; }
.img_wrap img  { position: absolute; z-index: 2; max-width: 100%; max-height: 100%; margin: auto; top: 0;  bottom: 0; left: 0;}
p {margin-bottom: 15px;}
img { max-width: 100%; max-height: 100%;}
hr {
    background-color: #E9E9E9;
    border: medium none;
    height: 1px;
    margin-bottom: 25px;
    margin-top: 0;
}
.i { font-style: itelic;}

.rub { position: relative;}
.rub:before {
    border-bottom: 0.1em solid;
    bottom: 0.4em;
    content: "";
    left: 0;
    position: absolute;
    width: 0.3em;
}

.floatleft {float: left !important;}
.floatright {float: right !important;}
.aligncenter {text-align: center;}
.alignright {text-align: right;}
.alignleft{text-align: left;}
.alignjustify { text-align: justify;}
.valigntop { vertical-align: top !important;}
.valignbottom { vertical-align: bottom !important;}
.valignmiddle { vertical-align: middle !important;}
.b, strong, b { font-weight: bold; }
.i, em { font-style: italic;}
.absolute {position: absolute;}
.relative {position: relative !important;}
.radius {border-radius: 4px;}
.semiopacity { opacity: 0.7; -moz-opacity: 0.7; }
.nowrap {white-space: nowrap;}
.linethrough, .line-through { text-decoration: line-through;}


.block { display: block !important;}
.none { display: none !important;}
.inline-block { display: inline-block !important; vertical-align: middle;}
.inline { display: inline !important;}
.table { display: table; width: 100%; vertical-align: top;}
.table.table-fixed { table-layout: fixed; }
.table-cell { display: table-cell;}
.table > .table-cell { vertical-align: top;}
.left.table-cell {
    width: 310px;
    padding-right: 30px;
}
.right.table-cell {
    width: 300px;
    padding-left: 50px;
}
.center.table-cell {
    overflow:hidden;
}

h1, .h1, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 { line-height: 1.2; }

h1, .h1 { font-size: 36px; margin-bottom: 20px; line-height: 1.35; }
h2, .h2 { font-size: 24px; font-weight: bold;}
h3, .h3 { font-size: 18px; font-weight: bold;}
h4, .h4 { font-size: 17px; font-weight: bold;}
h5, .h5 { font-size: 16px; font-weight: bold;}
h6, .h6 { font-size: 15px; font-weight: bold;}

h2, h3, .h2, .h3 { margin-bottom: 15px; }
h4, h5, h6, .h4, .h5, .h6 { margin-bottom: 10px; }


.font10 {font-size: 10px !important; }
.font11 {font-size: 11px !important; }
.font12 {font-size: 12px !important; }
.font13 {font-size: 13px !important; }
.font14 {font-size: 14px !important; }
.font15 {font-size: 15px !important; }
.font16 {font-size: 16px !important; }
.font17 {font-size: 17px !important; }
.font18 {font-size: 18px !important; }
.font20 {font-size: 20px !important; }
.font22 {font-size: 22px !important; }
.font24 {font-size: 24px !important; }
.font26 {font-size: 26px !important; }
.font27 {font-size: 27px !important; }
.font28 {font-size: 28px !important; }
.font30 {font-size: 30px !important; }
.font36 {font-size: 36px !important; }
.font40 {font-size: 40px !important; }
.font44 {font-size: 44px !important; }
.font72 {font-size: 72px !important; }

.lh1 { line-height: 1;}
.lh16 { line-height: 16px;}
.lh20 { line-height: 20px;}


.overflow { overflow: hidden;}
.hover {text-decoration: none !important;}
.hover:hover {text-decoration: underline !important;}
.unhover {text-decoration: underline !important;}
.unhover:hover {text-decoration: none !important;}
.up {text-transform: uppercase;}
.underline { text-decoration: underline;}

.colorwhite {color: #fff !important;}
.colorblack { color: #2C3E50;}
.colorgrey {color: #787b80;}
.colorred {color: #e91e1d;}
.colorblue {color: #5b8db7;}
.colorlblue {color: #5b8db7;}
.colorpink {color: #fa889f;}
.colorgreen {color: #057400;}
.colorlgreen {color: #4B201C;}
.colorred {color: #e91e1d;}
.colororange {color: #FF855D;}
.coloryellow {color: #ffd530;}

.black { background-color: black;}


.mgt0 {margin-top: 0 !important;} .mgt5 {margin-top: 5px !important;} .mgt10 {margin-top: 10px !important;} .mgt15 {margin-top: 15px !important;} .mgt20 {margin-top: 20px !important;} .mgt25 {margin-top: 25px !important;} .mgt30 {margin-top: 30px !important;} .mgt35 {margin-top: 35px !important;} .mgt40 {margin-top: 40px !important;} .mgt45 {margin-top: 45px !important;} .mgt50 {margin-top: 50px !important;} .mgt70 {margin-top: 70px !important;} .mgt75 {margin-top: 75px !important;} .mgt80 {margin-top: 80px !important;} .mgt85 {margin-top: 85px !important;} .mgb0 {margin-bottom: 0px !important;}
.mgb5 {margin-bottom: 5px !important;} .mgb10 {margin-bottom: 10px !important;} .mgb15 {margin-bottom: 15px !important;} .mgb20 {margin-bottom: 20px !important;} .mgb25 {margin-bottom: 25px !important;} .mgb30 {margin-bottom: 30px !important;} .mgb35 {margin-bottom: 35px !important;} .mgb40 {margin-bottom: 40px !important;} .mgb45 {margin-bottom: 45px !important;} .mgb50 {margin-bottom: 50px !important;} .mgb55 {margin-bottom: 55px !important;} .mgb60 {margin-bottom: 60px !important;} .mgb65 {margin-bottom: 65px !important;} .mgb70 {margin-bottom: 70px !important;} 
.mgr0 {margin-right: 0 !important;} .mgr5 {margin-right: 5px !important;} .mgr10 {margin-right: 10px !important;} .mgr15 {margin-right: 15px !important;} .mgr20 {margin-right: 20px !important;} .mgr25 {margin-right: 25px !important;} .mgr30 {margin-right: 30px !important;} .mgr35 {margin-right: 35px !important;} .mgr40 {margin-right: 40px !important;} .mgr45 {margin-right: 45px !important;} .mgr50 {margin-right: 50px !important;} .mgr55 {margin-right: 55px !important;} .mgr60 {margin-right: 60px !important;} 
.mgl5 {margin-left: 5px !important;} .mgl10 {margin-left: 10px !important;} .mgl15 {margin-left: 15px !important;} .mgl20 {margin-left: 20px !important;} .mgl25 {margin-left: 25px !important;} .mgl30 {margin-left: 30px !important;} .mgl35 {margin-left: 35px !important;} .mgl40 {margin-left: 40px !important;} .mgl45 {margin-left: 45px !important;} .mgl50 {margin-left: 50px !important;}


input[type=checkbox] { margin: -2px 4px 0 0;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { -webkit-autofill: none; -webkit-appearance: none;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.2s ease;
            transition: border-color 0.2s ease;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"], input[type="url"]:focus, textarea:focus{
 
}
select { 
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #d4d4d4;
    outline: none;

    -webkit-appearance: menulist;
}

.form_wrap { border: 1px solid #d7d7d7; background-color: #faf9f9; padding: 17px; box-sizing: border-box; border-radius: 8px; padding: 25px 40px;}
.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form input[type="tel"], .form input[type="url"], .form textarea {
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
    padding: 7px 12px; 
    border: 1px solid #e9e9e9;
    width: 100%; max-width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none; -moz-appearance: none;
    background-color: #f1f1f1;
}

.form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="tel"]:focus, .form input[type="url"]:focus, .form textarea:focus {
    border-color: #e91e1d; 
} 
.form input[type="submit"] {}
.form select { 
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
    padding: 7px 12px; 
    border: 1px solid #bfc1c3;
    width: 100%; max-width: 100%; 
    box-sizing: border-box;
    -webkit-appearance: none;  -moz-appearance: none;
}


.radio_wrap [type=radio] { display: none;}
.radio_wrap [type=radio] + span { position: relative; padding-left: 28px;}
.radio_wrap [type=radio] + span:before { content: url(../img/radio.png);  position: absolute; left: 0; top: 3px;}
.radio_wrap [type=radio]:checked + span:before { content: url(../img/radio_checked.png); }
.radio_wrap [type=radio] + div { position: relative; padding-left: 28px;}
.radio_wrap [type=radio] + div:before { content: url(../img/radio.png);  position: absolute; left: 0; top: 2px;}
.radio_wrap [type=radio]:checked + div:before { content: url(../img/radio_checked.png); }

.check_wrap [type=checkbox] { display: none;}
.check_wrap .colorgrey { color: #a0a0a0;}
.check_wrap [type=checkbox] + span { position: relative; padding-left: 28px;}
.check_wrap [type=checkbox] + span:before { content: url(../img/check.png);  position: absolute; left: 0; top: 3px;}
.check_wrap [type=checkbox]:checked + span:before { content: url(../img/check_checked.png); }
.check_wrap [type=checkbox]:disabled + span { color: #a0a0a0; }
.check_wrap [type=checkbox]:disabled + span:before { content: url(../img/check_disabled.png); }
.check_wrap [type=checkbox] + div { position: relative; padding-left: 28px;}
.check_wrap [type=checkbox] + div:before { content: url(../img/check.png);  position: absolute; left: 0; top: 2px;}
.check_wrap [type=checkbox]:checked + div:before { content: url(../img/check_checked.png); }
.check_wrap [type=checkbox]:disabled + div:before { content: url(../img/check_disabled.png); }


[class*=img_wrap] > img { display: block; }

.txt { line-height: 1.2; color: #000;}
.txt h2, .txt h3, .txt h4 { line-height: 1.3; font-weight: normal;}
.txt p { margin-bottom: 24px;}
.txt ul  { margin-bottom: 15px; }
.txt ul > li { position: relative; margin-bottom: 7px; overflow: hidden; padding-left: 10px; }
.txt ul > li:before {
    background-color: #5b8db7;
    border-radius: 50%;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 5px;
    z-index: 1;
}
.txt a { border-bottom: 3px solid #ed1c24; text-transform: uppercase; font-size: 12px; letter-spacing: 1px;}

.btn {
    font-size: 16px;
    border: 1px solid #e91e1d;
    display: inline-block;
    line-height: 38px;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    padding: 0 17px;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    box-sizing: border-box;
    background-color: #e91e1d;
    text-align: center;
}
.btn:hover { background-color: #ae1d21; }
.btn:active { -webkit-transform: translateY(2px); transform: translateY(2px);}
.btn.btn_blue { background-color: #5b8db7;}
.btn.btn_blue:hover { background-color: #6CA7D8;}

.btn.btn_grey { background-color: #f1f1f1; border-color: #e9e9e9; color: #3a3a39;}
.btn.btn_grey:hover { background-color: #fafafa; color: #e91e1d;}


.justify { text-align: justify; line-height: 0; font-size: 1px; /* 1px для Opera */ text-justify: newspaper; zoom:1; text-align-last: justify; }
.justify:after { width: 100%; height: 0px; visibility: hidden; overflow: hidden; content: ''; display: inline-block; }
.justify__item { display: inline-block; text-align: left; line-height: normal; font-size: 1rem; vertical-align: top; }
.justify__item * { text-align-last: initial; }

/*-----------------*/
.mobile_menu { display: none; }
.mobile_menu__toggle { display: none; }


.header_top { color: #fff; background-color: #3a3a3a; }
.header_top a { text-decoration: none;}
.header_menu__item { float: left; }
.header_menu__link {  display: block; height: 45px; line-height: 42px; box-sizing: border-box; border-top: 3px solid transparent; padding: 0 5px; text-transform: uppercase; transition: all 0.2s ease; color: #e3e3e3;}
.header_menu__link-active { border-color: #cc353b; }
.header_menu__link:hover { border-color: #cc353b; color: #fff; }
.header_phone { font-size: 18px; line-height: 45px; height: 45px; color: #fff; }

.header_reg { position: relative; height: 45px; line-height: 45px; }
.header_reg > a:first-child { position: relative; }
.header_reg > a:first-child:before { position: relative; content: ''; display: inline-block; vertical-align: middle; margin-right: 5px; width: 18px; height: 19px; background: url(../img/top_reg_icon.png) no-repeat scroll top center transparent;}
.header_reg > a:first-child:hover:before { background-position: bottom center; }
.header_reg span { margin: 0 4px; display: }
.header_reg__link { font-size: 14px; color: #e3e3e3;  }
.header_reg__link:hover { color: #cc353b;  }
.header_reg__link-exit { display: inline-block; vertical-align: middle; width: 20px; height: 14px; background: url(../img/header_reg_exit_icon.png) no-repeat scroll center transparent; margin-left: 20px; }

.header_reg_dropdown { position: absolute; top: 45px; left: 0; background-color: #fff; z-index: 3; padding: 20px 20px 10px; filter: drop-shadow(0 0 4px rgba(0,0,0,0.2)); color: #3a3a39; width: 230px; box-sizing: border-box; display: none;}
.header_reg_dropdown:before { position: absolute; z-index: 1; left: 30px; top: -20px; border: 10px solid transparent; border-bottom: 10px solid #fff; content: ''; }
.header_reg_dropdown__fire { display: block; font-size: 14px; height: 40px; line-height: 38px; position: relative; white-space: nowrap;}
.header_reg_dropdown__fire > span { font-weight: bold; }
.header_reg_dropdown__fire:before { bottom: -3px; content: url("../img/fire_min_ico.png"); display: inline-block; margin-right: 11px; position: relative; vertical-align: middle;}
.header_reg_dropdown hr { margin-bottom: 12px; margin-top: 6px; }
.header_reg_dropdown__link { display: block; margin-bottom: 12px; height: 1.3em; line-height: 1.3em;}
.header_reg_dropdown__link:hover { color: #e91e1d; }


.header_bottom { position: relative; }


.header_logo { margin-top: -42px; }
.header_logo > a { display: block; clip: rect(34px, 200px, 200px, 0px); }

.header_menu { margin-left: 75px; }


.header_socicons { position: relative; margin-top: 13px;}
.header_socicon { display: inline-block; height: 18px; width: 18px; background-position: center top; background-repeat: no-repeat; background-attachment: scroll;}
.header_socicon:hover { background-position: center bottom;}
.header_socicon-insta { background-image: url(../img/header_insta_icon.png); margin-right: 8px; position: relative; top: 1px;}
.header_socicon-vk { background-image: url(../img/header_vk_icon.png);}


.header_search { margin: 25px 0; border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; }
.header_search__toggle { display: block; width: 24px; height: 23px; background: url(../img/header_search_icon.png) no-repeat scroll center top transparent; position: relative; margin: 0 45px;}
.header_search__toggle:hover { background-position: center bottom;}


.header_search__dropdown { position: absolute; top: 70px; left: 0; right: 0; background-color: #fff; z-index: 10; display: none; padding: 19px 0; filter: drop-shadow(0 0 4px rgba(0,0,0,0.2));}
.header_search__dropdown button { border: none; width: 24px; height: 23px; background: url(../img/header_search_icon.png) no-repeat scroll center top transparent; position: relative; margin-left: 10px;}
.header_search__dropdown button:hover { background-position: center bottom;}
.header_search__form_wrap { display: flex; justify-content: space-between; align-items: center; }


.header_cart { margin: 25px 0; position: relative;}
.header_cart__content { position: relative; display: inline-block; vertical-align: middle; white-space: nowrap; }
.header_cart__count { display: inline-block; color: #cc353b; font-weight: bold; margin-right: 5px; height: 25px; line-height: 23px; border: 1px solid #f2f2f2; background-color: #f8f8f8; padding: 0 10px;}
.header_cart__total { display: inline-block; font-weight: bold; margin-right: 5px; margin-left: 15px;}
.header_cart_toggle { display: inline-block; vertical-align: middle; background: url(../img/header_cart_icon.png) no-repeat scroll top transparent; margin-right: 20px; width: 24px; height: 25px; }
.header_cart_toggle:hover { background-position: center bottom;}
.header_cart_dropdown { position: absolute; top: 45px; left: -25px; background-color: #fff; z-index: 3; padding: 20px 20px 10px; filter: drop-shadow(0 0 4px rgba(0,0,0,0.2)); color: #3a3a39; width: 300px; box-sizing: border-box; display: none;}
.header_cart_dropdown:before { position: absolute; z-index: 1; left: 30px; top: -20px; border: 10px solid transparent; border-bottom: 10px solid #fff; content: ''; }
.header_cart_dropdown .btn { font-size: 16px; text-align: center; display: block; margin-bottom: 8px;}
.header_cart_item { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #e9e9e9; display: flex; justify-content: space-between; align-items: center; }
.header_cart_item__img_wrap,
.header_cart_item__desc,
.header_cart_item__remove { padding: 0 5px; }
.header_cart_item__title  { font-size: 12px; }
.header_cart_item__price  { font-size: 12px; }
.header_cart_item__price > span { font-weight: bold; font-size: 14px; }


.footer { color: #fff; background-color: #3a3a3a; padding: 27px 0; background: url(../img/footer__back.jpg) no-repeat scroll center top / cover transparent;}
.footer a { color: #fff; text-decoration: none;}
.footer_menu__item { margin-bottom: 15px; }
.footer_menu__link { transition: all 0.2s ease; }
.footer_menu__link:hover { color: #e91e1d;}
.footer_phone { font-size: 22px; }
.footer_socs > a { margin-right: 5px; }
.footer_payment > img { display: inline-block; vertical-align: middle; margin-right: 15px; }


.main_menu { margin: 25px 0; }
.main_menu__item { display: inline-block; margin: 0 10px; }
.main_menu__link { color: #3a3a39; text-transform: uppercase; font-size: 16px; transition: all 0.2s ease; }
.main_menu__link:hover { color: #e91e1d; }


/*-----Articles----*/

.article_item { border-bottom: 1px solid #e9e9e9; padding: 18px 0;}
.article_item:first-child { border-top: 1px solid #e9e9e9; }
.article_item__title { color: #e91e1d; font-size: 20px; margin-bottom: 12px; text-decoration: none; display: inline-block; }
.article_item__title:hover { text-decoration: underline; }


/*-----404----*/

.error_page { position: relative; }
.error_page:before { content: ''; position: relative; height: 47px; background-color: #f1f1f1; display: block; width: 100%; margin-bottom: 22px;}
.error_page__wrap { margin: 70px 0 140px; text-align: center;}
.error_page__img { margin-bottom: 20px; }
.error_page__title { margin-bottom: 30px; }
.error_page__link { color: #e91e1d; text-decoration: underline; }
.error_page__link:link { text-decoration: none; }



/*-----Contacts----*/

.contacts_page { position: relative;}
.contacts_map { border-top: 3px solid #e91e1d; border-bottom: 3px solid #e91e1d; height: 380px; }
.contacts_map:last-child { border-bottom: 3px solid #fff; }
.contacts_alert { padding: 30px 0; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; margin: 25px 0 30px; }
.contacts_top { margin-bottom: 30px; }
.contacts_bottom { margin: 25px 0 30px; }
.contacts_shop { margin-bottom: 20px; }
.contacts_shop.col-3:nth-child(4n+1) { clear: left; }
.contacts_shop__title { font-weight: bold; margin-bottom: 8px; }
.contacts_location,
.contacts_metro,
.contacts_phone,
.contacts_worktime { position: relative; padding-left: 30px; }
.contacts_location:before { position: absolute; z-index: 1; left: 0; top: 0; content: url(../img/location_ico.png); }
.contacts_metro:before { position: absolute; z-index: 1; left: 0; top: 0; content: url(../img/metro_ico.png); }
.contacts_phone:before { position: absolute; z-index: 1; left: 0; top: 0; content: url(../img/phone_ico.png); }
.contacts_worktime:before { position: absolute; z-index: 1; left: 0; top: 0; content: url(../img/worktime_ico.png); }



/*-----Cart complete----*/

.complete_info__list { width: 100%; max-width: 640px; margin-bottom: 35px;}
.complete_info__list dd { float: left; clear: left; width: 200px; color: #717274; display: block; margin-bottom: 12px;}
.complete_info__list dt { float: left; width: calc(100% - 200px); overflow: hidden; display: block; margin-bottom: 12px; font-weight: bold;}
.complete_info__list_summ { font-size: 18px; line-height: 19.2px;}
.complete_info__list_summ + dt { font-size: 18px; line-height: 19.2px;}
.complete_info__list_total { line-height: 26px;}
.complete_info__list_total + dt { font-size: 18px; line-height: 26px;}
.complete_info__list_total + dt > span { font-size: 24px; line-height: 26px;}
.complete_table { width: 100%; font-size: 14px; margin-bottom: 50px;}
.complete_table td { vertical-align: middle; border-bottom: 1px solid #e9e9e9;  }
.complete_table tr:first-child td { border-top: 2px solid #3a3a39;  }
.complete_table td:first-child { width: 99px; }
.complete_table__title { font-size: 16px; }
.complete_table__total { text-align: right; white-space: nowrap;}
.complete_table__total > span { font-size: 24px; font-weight: bold; }
.complete_table__price { text-align: left; white-space: nowrap;}
.complete_table__price > span { font-size: 18px; font-weight: bold; }
.complete_table__old_price { text-align: left; white-space: nowrap; text-decoration: line-through; color: #e91e1d;}
.complete_table__old_price > span { font-weight: bold; }
.complete_table__count { font-size: 16px; font-weight: bold; }



/*-----Cart----*/

.cart_table { width: 100%; font-size: 14px; margin-bottom: 30px;}
.cart_table td { vertical-align: middle; border-bottom: 1px solid #e9e9e9;  }
.cart_table tr:first-child td { border-top: 2px solid #3a3a39;  }
.cart_table td:first-child { width: 99px; }
.cart_table__title { font-size: 16px; }
.cart_table__total { text-align: center; white-space: nowrap;}
.cart_table__total > span { font-size: 24px; font-weight: bold; }
.cart_table__price { text-align: left; white-space: nowrap;}
.cart_table__price > span { font-size: 18px; font-weight: bold; }
.cart_table__old_price { text-align: left; white-space: nowrap; text-decoration: line-through; color: #e91e1d;}
.cart_table__old_price > span { font-weight: bold; }
.cart_table__count { font-size: 16px; font-weight: bold; }
.cart_table__quantity { display: inline-block; }
.cart_table__remove { display: block; line-height: 12px; height: 12px; width: 15px; background: url(../img/cart_remove.png) no-repeat scroll center transparent; }
.cart_table__fire { text-align: center; font-size: 16px; }
.cart_table__fire > span { position: relative; border: 1px solid #ebebeb; border-radius: 4px; height: 40px; line-height: 38px; padding: 0 12px; display: inline-block;}
.cart_table__fire > span:before { content: url(../img/fire_min_ico.png); position: relative; display: inline-block; vertical-align: middle; margin-right: 8px;}
.cart_total { text-align: right; white-space: nowrap; margin-bottom: 20px;}
.cart_total__label { display: inline-block; margin-right: 15px; font-size: 28px; font-weight: bold; }
.cart_total__val { display: inline-block; font-size: 16px; }
.cart_total__val > span { font-size: 28px; font-weight: bold; }
.cart_fire_wrap { text-align: right; margin-bottom: 30px; }
.cart_fire { position: relative; border: 1px solid #ebebeb; border-radius: 4px; height: 40px; line-height: 38px; padding: 0 30px; display: inline-block; font-size: 14px; clear: left;}
.cart_fire:before { content: url(../img/fire_min_ico.png); position: relative; display: inline-block; vertical-align: middle; margin-right: 12px;}
.cart_fire > span { font-size: 18px; font-weight: bold; }
.cart_form { margin-bottom: 50px; }
.cart_form .h5 { margin-bottom: 15px; }
.cart_submit { color: #fff; border: none; border-radius: 4px; padding: 0 54px; background-color: #e91e1d; font-size: 22px; height: 60px; line-height: 60px; text-align: center; }
.cart_submit:hover { background-color: #ae1d21; }
.cart_form__complete .cart_delivery__label,
.cart_form__complete .cart_summ__label,
.cart_form__complete .cart_total__label { width: 300px; margin-right: 0;}
.cart_delivery__label,
.cart_summ__label,
.cart_total__label,
.cart_delivery__val,
.cart_summ__val,
.cart_total__val { display: inline-block; }
.cart_form__delivery .h2 { position: relative; padding-left: 50px;}
.cart_form__delivery .h2:before { position: absolute; z-index: 1; left: 0; top: 0; content: url(../img/cart_delivery_ico.png);}
.cart_form__payment .h2 { position: relative; padding-left: 50px;}
.cart_form__payment .h2:before { position: absolute; z-index: 1; left: 0; top: 0; content: url(../img/cart_wallet_ico.png);}
.form_item_label { white-space: nowrap; margin-bottom: 5px; font-size: 14px;}
.cart_form__contacts,
.cart_form__delivery,
.cart_form__payment,
.cart_form__complete { width: 100%; max-width: 580px; }
.cart_form__delivery .radio_wrap { display: block; margin-bottom: 25px; }


/*-----Catalog card----*/

.cat_item__top { margin-bottom: 20px;}
.cat_item__gal { border: 1px solid #ebebeb; text-align: center; margin-bottom: 13px;}
.cat_item__gal:hover { border: 1px solid #e91e1d;}
.cat_item__chars { margin-bottom: 13px; width: 100%;}
.cat_item__chars td { vertical-align: bottom;}
.cat_item__chars td:first-child { width: 148px; color: #a0a0a0;}
.cat_item__select_wrap > td { height: 49px; vertical-align: middle;}
.cat_item__btn_wrap,
.cat_item__quantuty { vertical-align: top !important; }
.cat_item__i_price  { margin-bottom: 18px; line-height: 30px;}
.cat_item__i_price span { font-size: 28px; font-weight: bold; }
.cat_item__price  { margin-bottom: 18px; line-height: 20px;}
.cat_item__price span { font-size: 18px; font-weight: bold; }
.cat_item__i_price td,
.cat_item__price td { padding-bottom: 15px;}
.cat_item__brand_val { font-weight: bold;}
.cat_item__info { margin-bottom: 13px; background-color: #fafafa; border: 1px solid #ebebeb; padding: 20px;}
.cat_item_fire { position: relative; border: 1px solid #ebebeb; border-radius: 4px; height: 40px; line-height: 38px; padding: 0 30px; display: block; font-size: 14px; background-color: #fff; text-align: center; margin-bottom: 20px;}
.cat_item_fire:before { content: url(../img/fire_min_ico.png); position: relative; display: inline-block; vertical-align: middle; margin-right: 12px;}
.cat_item_fire > span { font-size: 18px; font-weight: bold; }
.cat_item__info_block { position: relative; margin-bottom: 15px; }
.cat_item__info_block.delivery .h5:before { content: url(../img/cart_delivery_ico.png); display: inline-block; vertical-align: middle; width: 30px; margin-right: 8px;}
.cat_item__info_block.payment .h5:before { content: url(../img/cart_wallet_ico.png); display: inline-block; vertical-align: middle; width: 30px; margin-right: 8px;}
.cat_item__info_block li { padding-left: 30px; position: relative; margin-bottom: 12px; font-size: 14px; margin-bottom: 6px; }
.cat_item__info_block li:before { position: absolute; z-index: 1; content: ''; left: 5px; top: 0.5em; display: block; width: 4px; height: 4px; border-radius: 50%; background-color: #e91e1d; }
.cat_item__tabs { margin-bottom: 20px; border-bottom: 1px solid #e9e9e9; padding-left: 24px;}
.cat_item__tabs > li { display: inline-block; margin-right: 28px; }
.cat_item__tabs > li > a { 
    display: block; font-size: 18px; position: relative; text-transform: uppercase; margin-bottom: -1px; font-weight: 300px; height: 38px; line-height: 38px; background-color: #f1f1f1; 
    filter: drop-shadow(0 -1px 0 #e9e9e9) drop-shadow(-1px 0 0 #e9e9e9);
}
.cat_item__tabs > li > a:before { content: ''; position: absolute; z-index: 1; border-left: 23px solid transparent; border-top: 38px solid #f1f1f1; left: -23px; top: 0; }
.cat_item__tabs > li > a:after { content: ''; position: absolute; z-index: 1; border-right: 23px solid transparent; border-bottom: 38px solid #f1f1f1; right: -23px; top: 0;}
.cat_item__tabs > li.active > a { background-color: #fff; }
.cat_item__tabs > li.active > a:before { border-top: 38px solid #fff;}
.cat_item__tabs > li.active > a:after { border-bottom: 38px solid #fff; }
.cat_item__tabs_content { margin-bottom: 20px; }
.cat_item__carousel { margin-bottom: 50px; }
.cat_item__carousel_wrap { overflow: hiiden; }
.cat_item__carousel_item { float: left; clear: none; width: 289px; margin-right: 6px;}
.cat_item__carousel_item:last-child { margin-right: 0;}
.cat_item_carousel .mCSB_container { padding: 0 2px; }
.cat_item_carousel__title { font-size: 32px; margin-bottom: 25px; }



/*-----Catalog mini card----*/

.cat_i { padding: 0; transition: height 0.2s ease; border-radius: 3px; height: 430px;}
.cat_i > a { display: block; }
.cat_i__img_wrap { height: 238px; position: relative; margin-bottom: 6px; transition: all 0.2s ease;}
.cat_i__img { position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; }
.cat_i__title { padding: 9px; transition: all 0.2s ease;}
.cat_i__price { padding: 0 9px; white-space: nowrap;} 
.cat_i__price_label { position: relative; display: inline-block; color: #a0a0a0; width: 107px;}
.cat_i__price_label:after { bottom: 0; color: #a0a0a0; content: "...."; display: inline; margin: 0 5px; position: absolute; right: 0;}
.cat_i__price_val { color: #393937; }
.cat_i__price_val > span { font-weight: bold; }
.cat_i__btns { padding: 9px; }
.cat_i__bonus { float: left; }
.cat_i__btn.btn { float: right; font-size: 16px; padding: 0 11px;}
.cat_i__btn.btn:before { content: url(../img/cat_item_cart_ico.png); position: relative; display: inline-block; vertical-align: middle; margin-right: 11px; }
.cat_i__hidden { visibility: hidden; opacity: 0; transition: opacity 0.2s ease 0s; height: 0; padding: 0 9px 9px;}

.cat_i a:hover   .cat_i__img_wrap { background-color: #e5e5e5;}
.cat_i a:hover   .cat_i__title { color: #e92f2e;}
.cat_i_fire { background-color: #ffffff; border: 1px solid #ebebeb; border-radius: 4px; display: block; font-size: 14px; height: 40px; line-height: 38px; padding: 0 11px; position: relative; text-align: center; float: left;}
.cat_i_fire:before { content: url("../img/fire_min_ico.png"); display: inline-block; margin-right: 11px; position: relative; vertical-align: middle; bottom: -3px;}

.cat_i_wrap { background-color: #fff; }
.cat_i_wrap:before, .cat_i_wrap:after { content: " "; display: table;}
.cat_i_wrap:after { clear: both;}
.cat_i_wrap:hover .cat_i__hidden { height: auto; visibility: visible; opacity: 1; }
.cat_i:hover .cat_i_wrap { box-shadow: 0 0 5px rgba(0,0,0,0.11); }
.cat_i:hover { position: relative; z-index: 100; }

/*-----Catalog----*/

.cat_items.row  { margin-left: -3px; margin-right: -3px; }
.cat_items.row > .col-4 { padding: 0 3px; }

.cat_top { margin-bottom: 20px; }
.cat_sort { float: left; width: 220px;}

.cat_sections { margin-bottom: 20px; font-size: 14px;  }
.cat_sections__item { display: block; margin-right: 10px; margin-bottom: 10px; white-space: nowrap; float: left; border-radius: 4px; background-color: #f1f1f1; border: 1px solid #e9e9e9; box-sizing: border-box; height: 40px; line-height: 38px; padding: 0 9px; }
.cat_sections__item:hover { color: #e91e1d; }
.cat_txt { margin-bottom: 50px; }

.filter { border: 1px solid #ebebeb; margin-bottom: 20px; padding: 20px 20px 15px; font-size: 14px;}
.filter_block { margin-bottom: 15px;}
.filter_block__title { font-weight: bold; font-size: 20px; margin-bottom: 15px;}
.filter_btn { font-size: 14px; margin-right: 5px; margin-bottom: 5px; padding: 0 11px;}
.filter_radio { display: block; margin-bottom: 20px; }

.history { border: 1px solid #ebebeb; margin-bottom: 20px; padding: 20px 20px 15px; font-size: 14px;}
.history_block { margin-bottom: 15px;}
.history_block__title { font-weight: bold; font-size: 20px; margin-bottom: 15px;}

.history_item { border-bottom: 1px solid #e9e9e9; margin-bottom: 15px; padding-bottom: 15px;}
.history_item__title { font-size: 14px; margin-bottom: 5px; }
.history_item__title:hover { color: #E91E1D;}
.history_item__flex { display: flex; align-items: center;  }
.history_item__img_wrap { padding: 0 5px; }
.history_item__desc { padding: 0 5px; }
.history_item__price { font-size: 14px; margin-bottom: 5px;}
.history_item__price > span { font-size: 18px; font-weight: bold; }
.history_item .btn { font-size: 14px; }

.cat_banners { margin-bottom: 30px; }
.cat_banner { display: block; margin-bottom: 20px; }


/*-----Cabinet----*/

.cabinet_page .btn { text-align: center; display: block; width: 100%; font-size: 16px;}
.cabinet_left { border: 1px solid #ebebeb; margin-bottom: 50px; }
.cabinet_left__bottom { padding: 25px 25px 15px; }
.cabinet__fire { display: block; font-size: 14px; position: relative; white-space: nowrap; border-bottom: 1px solid #ebebeb; padding: 25px 25px 25px 75px; }
.cabinet__fire > span { font-weight: bold; }
.cabinet__fire:before { margin: auto; bottom: 0; top: 0; left: 30px; content: url("../img/fire_min_ico.png"); display: block; position: absolute; width: 16px; height: 22px; }
.cabinet__link { display: block; height: 1.3em; line-height: 1.3em; margin-bottom: 12px; font-size: 14px;}
.cabinet__link:hover { color: #e91e1d;}
.cabinet__link.active { color: #e91e1d;}





























































.quantuty { white-space: nowrap; font-size: 16px; color: #3a3a39;}
.quantuty:before, .quantuty:after {  content: " ";  display: table;}
.quantuty:after { clear: both;}
.quantuty__minus { display: block; float: left; border: 1px solid #ebebeb; border-radius: 4px 0 0 4px; width: 40px; height: 40px; line-height: 38px; box-sizing: border-box; background-color: #f1f1f1;}
.quantuty__plus { display: block; float: left; border: 1px solid #ebebeb; border-radius: 0 4px 4px 0; width: 40px; height: 40px; line-height: 38px; box-sizing: border-box; background-color: #f1f1f1;}
.quantuty__val { display: block; float: left; text-align: center; width: 50px; height: 40px; line-height: 38px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; box-sizing: border-box; }



.breadcrumbs { background-color: #f1f1f1; font-size: 14px; line-height: 1.2; padding: 16px 0 17px; margin-bottom: 22px; min-height: 1.2em;}
.breadcrumbs__link { color: #717274; }
.breadcrumbs__link:hover { text-decoration: underline; }
.breadcrumbs__deliver { color: #717274; margin: 0 12px; }


.pagi { text-align: center; font-size: 20px; margin: 50px 0 70px; position: relative; line-height: 1; }
.pagi_wrap { display: inline-block; position: relative; }
.pagi_wrap:after { content: ''; position: absolute; margin: auto; left: 0; right: 0; bottom: -11px; border: 1px solid #f1f1f1; height: 3px;}
.pagi__link, 
.pagi__current_item,
.pagi__item { margin: 0; width: 47px; position: relative; display: inline-block; padding: 10px 0;}
.pagi__current_item { color: #e91e1d; }
.pagi__current_item:after { content: ''; position: absolute; margin: auto; left: 0; right: 0; bottom: -11px; height: 3px; background-color: #e91e1d; border-radius: 2px; }
.pagi__link-max:hover,
.pagi__link:hover { color: #e91e1d; }


/*-------------------------*/

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
}
.tab-content > .tab-pane, .pill-content > .pill-pane { display: none;}
.tab-content > .active, .pill-content > .active { display: block;}

/*-----MODAL---------*/
.modal { 
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 35px 50px 50px;
    position: fixed;
    top: 10%;  right: 0;  left: 0;  z-index: 1050;  display: none;   -webkit-overflow-scrolling: touch;  outline: 0; margin: auto; width: 100%; max-width: 480px; background-color: #fff;
}

.modal .btn { margin-top: 10px;}
.modal .close {
    border: medium none;
    cursor: pointer;
    display: block;
    height: 23px;
    position: absolute;
    right: -30px;
    top: 0;
    transition: all 0.3s linear 0s;
    width: 23px;
    background: url(/img/modal_close.png) no-repeat scroll center transparent;
}

.modal-backdrop {  position: fixed;  top: 0;  right: 0;  bottom: -70px;  left: 0;  z-index: 1040;  background-color: rgba(0,0,0,0.7);}
.modal-backdrop.fade { filter: alpha(opacity=0);  opacity: 0;}
.modal-backdrop.in {  filter: alpha(opacity=100);  opacity: 1;}


